<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <%= link_to t(".shop"), admin_home_path, class: "sidebar-brand d-flex align-items-center" %>

  <hr class="sidebar-divider">
  <div class="sidebar-heading"><%= t ".product_management" %></div>

  <li class="nav-item">
    <i class="fas fa-fw fa-table"></i>
    <%= link_to t("base.product"), products_path, class: "nav-link collapsed" %>
  </li>
  <li class="nav-item">
    <%= link_to t("base.brand"), brands_path, class: "nav-link collapsed" %>
  </li>
  <li class="nav-item">
    <%= link_to t("base.size"), "#", class: "nav-link collapsed" %>
  </li>

  <hr class="sidebar-divider">
  <div class="sidebar-heading"><%= t ".business_management" %></div>

  <li class="nav-item">
    <%= link_to t("base.order"), "#", class: "nav-link collapsed" %>
  </li>

  <li class="nav-item">
    <%= link_to t(".statistical"), "#", class: "nav-link collapsed" %>
  </li>

  <hr class="sidebar-divider">
  <div class="sidebar-heading"><%= t ".account_management" %></div>

  <li class="nav-item">
    <%= link_to t("base.account"), "#", class: "nav-link collapsed" %>
  </li>
</ul>
