<div class="footer">
  <div class="wrap">
    <div class="section group">
      <div class="col_1_of_4 span_1_of_4">
        <h3><%= t ".info" %></h3>
        <p><%= t ".shop_address" %></p>
      </div>
      <div class="col_1_of_4 span_1_of_4">
        <h3><%= t ".latest_news" %></h3>
        <p><%= t ".news_1" %></p>
        <p><%= t ".news_2" %></p>
      </div>
      <div class="col_1_of_4 span_1_of_4">
        <h3><%= t "base.address" %></h3>
        <p><%= t ".shop_address" %></p>
        <h3><%= t "base.phone" %></h3>
        <p><%= t ".shop_phone" %></p>
      </div>
      <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
        <h3><%= t ".follow_us" %></h3>
          <ul>
            <li><%= link_to image_tag("customer/twitter.png", alt: "twitter"), "#" %></li>
            <li><%= link_to image_tag("customer/facebook.png", alt: "facebook"), "#" %></li>
            <li><%= link_to image_tag("customer/rss.png", alt: "Rss"), "#" %></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="clear"> </div>
  <div class="wrap">
    <div class="copy-right">
      <p>&copy;<%= t ".copy" %></p>
    </div>
  </div>
</div>
